/* elements */

.rock {
  background-size: contain;
  background-image: url('../img/rock.png');
}

.tree {
  background-size: contain;
  background-image: url('../img/tree.png');
}

.heart {
  background-image: url('../img/heart.png');
}

.empty {
  background-image: url('../img/emptyHeart.png');
}

/* characters */
.monster {
  background-size: contain;
  background-image: url('../img/monster.png');
}

.boss {
  background-size: contain;
  background-image: url('../img/boss.png');
}

.hatchet {
  background-size: contain;
  background: url('../img/hatchet.png');
  position: absolute;
}

.hatchet.left1 {
  transform:rotate(-30deg);
}

.hatchet.left2 {
  transform:rotate(-140deg);
}

.hatchet.right1 {
  transform: scaleX(-1) rotate(-30deg);
}

.hatchet.right2 {
  transform: scaleX(-1) rotate(-140deg);
}

.hatchet.down1 {
  transform: rotate(-170deg);
}

.hatchet.down2 {
  transform: rotate(-260deg);
}

.hatchet.up1 {
  transform: rotate(-25deg);
}

.hatchet.up2 {
  transform: rotate(-95deg);
}

/* walking animations */

.player.down {
  background-size: contain;
  background-image: url('../img/down.png');
}

.player.up {
  background-size: contain;
  background-image: url('../img/up.png');
}

.player.right {
  background-size: contain;
  background-image: url('../img/right.png');
}

.player.left {
  background-size: contain;
  background-image: url('../img/left.png');
}
