/* elements */

.tile {
  background-color: #c9a58c;
}

.rock {
  background-size: contain;
  background-image: url('../img/rock.png');
}

.tree {
  background-size: contain;
  background-image: url('../img/tree.png');
}

.heart {
  background-image: url('../img/heart.png');
}

.heart .empty {
  background-image: url('../img/emptyHeart.png');
}

/* characters */

.monster {
  background-size: contain;
  background-image: url('../img/monster.png');
}

.player {
  background-size: contain;
  background-image: url('../img/standingSprite.png');
}

.walk {
  background-size: contain;
  background: url('../img/walkingSprite.png');
}

/* walking animations */

.bottom {
  -webkit-animation: bottom .8s steps(4) infinite;
     -moz-animation: bottom .8s steps(4) infinite;
      -ms-animation: bottom .8s steps(4) infinite;
       -o-animation: bottom .8s steps(4) infinite;
          animation: bottom .8s steps(4) infinite;
}

.top {
  -webkit-animation: top .8s steps(4) infinite;
     -moz-animation: top .8s steps(4) infinite;
      -ms-animation: top .8s steps(4) infinite;
       -o-animation: top .8s steps(4) infinite;
          animation: top .8s steps(4) infinite;
}

.right {
  -webkit-animation: right .8s steps(4) infinite;
     -moz-animation: right .8s steps(4) infinite;
      -ms-animation: right .8s steps(4) infinite;
       -o-animation: right .8s steps(4) infinite;
          animation: right .8s steps(4) infinite;
}

.left {
  -webkit-animation: left .8s steps(4) infinite;
     -moz-animation: left .8s steps(4) infinite;
      -ms-animation: left .8s steps(4) infinite;
       -o-animation: left .8s steps(4) infinite;
          animation: left .8s steps(4) infinite;
}

@-webkit-keyframes bottom {
  from { background-position: 0px 0px; }
  to { background-position: -128px 0px; }
}

@-moz-keyframes bottom {
  from { background-position: 0px 0px; }
  to { background-position: -128px 0px; }
}

@-ms-keyframes bottom {
  from { background-position: 0px 0px; }
  to { background-position: -128px 0px; }
}

@-o-keyframes bottom {
  from { background-position: 0px 0px; }
  to { background-position: -128px 0px; }
}

@keyframes bottom {
  from { background-position: 0px 0px; }
  to { background-position: -128px 0px; }
}

@-webkit-keyframes right {
  from { background-position: 0px -32px; }
  to { background-position: -128px -32px; }
}

@-moz-keyframes right {
  from { background-position: 0px -32px; }
  to { background-position: -128px -32px; }w
}

@-ms-keyframes right {
  from { background-position: 0px -32px; }
  to { background-position: -128px -32px; }
}

@-o-keyframes right {
  from { background-position: 0px -32px; }
  to { background-position: -128px -32px; }
}

@keyframes right {
  from { background-position: 0px -32px; }
  to { background-position: -128px -32px; }
}

@-webkit-keyframes left {
  from { background-position: 0px -64px; }
  to { background-position: -128px -64px; }
}

@-moz-keyframes left {
  from { background-position: 0px -64px; }
  to { background-position: -128px -64px; }
}

@-ms-keyframes left {
  from { background-position: 0px -64px; }
  to { background-position: -128px -64px; }
}

@-o-keyframes left {
  from { background-position: 0px -64px; }
  to { background-position: -128px -64px; }
}

@keyframes left {
  from { background-position: 0px -64px; }
  to { background-position: -128px -64px; }
}

@-webkit-keyframes top {
  from { background-position: 0px -96x; }
  to { background-position: -128px -96px; }
}

@-moz-keyframes top {
  from { background-position: 0px -96px; }
  to { background-position: -128px -96px; }
}

@-ms-keyframes top {
  from { background-position: 0px -96px; }
  to { background-position: -128px -96px; }
}

@-o-keyframes top {
  from { background-position: 0px -96px; }
  to { background-position: -128px -96px; }
}

@keyframes top {
  from { background-position: 0px -96px; }
  to { background-position: -128px -96px; }
}